.nav-pills a {
  background-color: white !important;
}

.dropdown-menu {
  width: 100%;
}

#submitBox2 {
  margin-left: 530px !important;
  margin-bottom: -40px !important;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

a {
  color: gray !important;
}

#abutton {
  color: white !important;
}
